/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-abr-2015, 13:50:48
    Author     : alvaro
*/

#cabeza{
    
    width: 1000px;
    height: 100px;
    background-color:bisque;
    padding-left: 450px;
    padding-top: 20px;
}

.limpiarfloat{
    clear: both;
}
